<div class="container">
  <h1><%= @tool.name.capitalize %></h1>
  <div>
    <p><%= @tool.description %></p>
  </div>
  <div>
    <%= link_to 'Edit', edit_tool_path(@tool) %>
    <%= link_to 'Delete', tool_path(@tool), method: :delete,
      data: { confirm: "Are you sure you want to delete this tool?" } %>
    <%= link_to 'Back to Tools', tools_path %>
  </div>
</div>
