<div class="container">
  <div class="my-4">
    <span class="h1 h1-smaller mr-1">
      <%= @tool.name.capitalize %>
    </span>
    <% if policy(@tool).edit? %>
      <%= link_to edit_tool_path(@tool) do %>
        <i class="fas fa-edit mr-1"></i>
      <% end %>
    <% end %>
    <% if policy(@tool).destroy? %>
      <%= link_to tool_path(@tool), method: :delete,
      data: { confirm: "Are you sure you want to delete this tool?" } do %>
        <i class="fas fa-trash mr-1"></i>
      <% end %>
    <% end %>
  </div>

  <div>
    <p><%= @tool.description %></p>
  </div>
  <div>
    <%= link_to new_tool_booking_path(@tool) do %>
      <i class="fas fa-satellite-dish mr-1"></i>
      Book this tool
    <% end %>
  </div>
  <div>
    <%= link_to tools_path do %>
      <i class="fas fa-arrow-left mr-1"></i>
      Back to Tools
    <% end %>
  </div>
</div>
